raw_data/
preprocessed_data/
runs/
copied_attacks/
copied_train/
copied_codebase/
**/*.zip
vit_b_16_weights/
unzip_script.py
colab_run_uncertainty_defenses.ipynb
get_results.py
experiments/
analysis/
figures/
**/__pycache__/
tmp**
_attacks/
_defences/
_models/
checkpoints/
logs/
tmp/
backdoor_bench_checkpoints/
backdoor_bench_weights/
scratch/